@font-face {
    font-family: 'Fredoka';
    src: url('/fonts/Fredoka-Variable.ttf') format("truetype");
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Fredoka';
    box-sizing: border-box;
}

.maincontainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    max-width: 1600px;
    margin-inline: auto;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: 70px;
    height: 70px;
    transition: 1s height, 1s transform;
}

.container.hidden {
    transition: 1s height 1s, 1s transform 1s;
    height: 0;
    transform: translateY(70px);
}

.container.hidden .player {
    width: 0;
    overflow: hidden;
    flex-wrap: nowrap;
    transition: 1s width;
}

.player {
    transition: 1s width 1s;
    width: 100%;
    text-wrap: nowrap;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

.player1 {
    justify-self: flex-end;
}

.player2 {
    flex-direction: row-reverse;
}

.player2 {
    border-radius: 0 10px 10px 0;
}





.player {
    background-color: blue;
    color: white;
    grid-row: 1;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-block: 10px;
    position: relative;
    z-index: 0;

}

.player1 .name,
.player1 .fouls {
    margin-left: 20px;
}

.player1 .balls {
    margin-right: 60px;
}

.player2 .balls {
    margin-left: 60px;
}

.player2 .name {
    margin-right: 20px;
}

.player2 .fouls {
    right: 20px;
    flex-direction: row-reverse;
}

.name {
    letter-spacing: 1px;
}

.fouls {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 7px;
}

.foul-bar {
    width: 25px;
    height: 5px;
    border-radius: 3px;
}

.foul-bar.foul {
    background-color: rgba(255, 0, 0);
}

.foul-bar.no-foul {
    background-color: rgba(0, 0, 0, 0.3);
}

.player1 {
    grid-column: 1;
}

.player2 {
    grid-column: 3;
}

.scores {
    display: flex;
    position: relative;
}

.score {
    background-color: white;
    z-index: 2;
    font-size: 45px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.race-to {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    box-shadow: 0 0 5px 0 gray;
    font-weight: 500;
    z-index: 3;
}

.text {
    font-weight: 600;
    font-size: 12px;
}

.race-to span {
    font-size: 35px;
}

.indicator {
    position: absolute;
    align-self: center;
    z-index: 1;
    transition: 0.5s translate 2s, 0.5s left, 0.5s transform;
}

.indicator.hide {
    left: 50%;
    transform: translateX(-50%);
    transition-delay: 0s;
}

.container.hidden .indicator.left,
.container.hidden .indicator.right {
    transition: 0.5s translate;
}

.container.hidden .indicator.left {
    translate: 100px;
}

.container.hidden .indicator.right {
    translate: -100px;
}

.indicator.left {
    transform: translateX(-100%);
    left: -10px;
}

.indicator.right {
    left: calc(100% + 10px);
}

.balls {
    display: flex;
    place-items: center;
    font-size: 13px;
}

.ball {
    width: 42px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 3px solid;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}

.ball.selected {
    /* box-shadow: 0 0 15px 0 ; */
    scale: 1.3;
}

.ball.potted {
    opacity: 0.15;
}

.ball .pattern .number {
    background-color: white;
    width: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    color: black;
    display: grid;
    place-items: center;
    font-weight: 600;
}

.ball .pattern {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.ball.stripes .pattern {
    height: 70%;
    background-color: white;
}




.row button {
    width: 100%;
}

.row .wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(220, 220, 220);
    border-radius: 10px;
    width: 500%;
    /* container-type: size; */
}


.wrapper .balls:last-child {
    /* height: 200cqh; */
    margin-bottom: 5px;
}

.row:has(.wrapper) button {
    align-self: flex-start;
}

.row:not(:has(.wrapper)) .property {
    width: 500%;
}

.wrapper .balls {
    margin-inline: 5px;
}

.wrapper .balls .ball {
    width: calc(100% / 7 - 5px);
    margin: auto;
    /* font-size: 8px; */
}

.row .property {
    width: 100%;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-weight: 600;
    box-sizing: border-box;
    background-color: blue;
    border-radius: 10px;
    color: white;
}

.row .property:not(:has(.score)) {
    justify-content: center;
}

.property .ball {
    width: 20px;
    margin-left: auto;
    margin-right: 10px;
}

.property .score {
    height: 100%;
}

.playerdetails .player {
    background-color: transparent;
    color: black;
    border-radius: 0;
    padding: 10px;
    background-color: blue;
    color: white;
    height: 60px;
}

.playerdetails .player .row {
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.row .score {
    border-radius: 5px;
    color: black;
    width: 50px;
    font-weight: unset;
    font-size: unset;
}

.match-properties {
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row:has(button) {
    gap: 10px;
}

.playerdetails .player input {
    background-color: unset;
    color: inherit;
    font-size: 20px;
    font-weight: inherit;
    /* width: 100%; */
    outline: none;
    border: none;
    /* border-bottom: 3px solid; */
    border-radius: 0;
    margin-bottom: 10px;
    /* background-color: color-mix(in srgb, blue, black 20%); */
    border-radius: 10px;
    padding-inline: 10px;
}

.switch {
    border: 3px solid;
    border-radius: 10px;
    position: relative;
    /* overflow: hidden; */
}

.switch .slider {
    width: 50%;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    height: 100%;
    background-color: red;
}

.row {
    display: flex;
    align-items: center;
}

.row.disabled {
    opacity: 0.3;
}

button {
    color: blue;
    font-weight: 600;
    min-width: 40px;
    height: 50px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

button:disabled {
    opacity: 0.3;
}

.match-container {
    display: flex;
    gap: 15px;
    box-shadow: 0 0 3px 0;
    width: max-content;
    padding: 20px;
    border-radius: 7px;
}
